<div class="card mt-3">
  <div class="card-body">
		<h2>{{burger_name}}</h2>

		<button class="change-devour btn-primary" data-id="{{id}}" data-newdevoured="{{devoured}}">
			{{#if devoured}}Devour{{else}}Regurgitate{{/if}}
		</button>
	</div>
</div>

